/* Variables */

:root {
  --main-ff: "Fraunces", "New Times Roman", serif;
  --secondary-ff: "Barlow", "Arial", sans-serif;
  --main-fw: 900;
  --global-fw: 400;
  --main-lh: 32px;
  --main-fz: 24px;
  --secondary-text-color: #333d4b;
  --main-bg-color: #2c343e;
  --secondary-bg-color: #0e8784;
  --global-content-color: #fefcf7;
  --mixin: #fdd6ba;
}

/* Font families */

@font-face {
  font-family: "Fraunces";
  font-weight: 900;
  font-display: swap;
  src: url("../fonts/frauncesblack.woff2") format("woff2"),
  url("../fonts/frauncesblack.woff") format("woff")
}
@font-face {
  font-family: "Barlow";
  font-display: swap;
  src: url("../fonts/barlowregular.woff2") format("woff2"),
  url("../fonts/barlowregular.woff") format("woff")
}
@font-face {
  font-family: "Barlow";
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/barlowbold.woff2") format("woff2"),
  url("../fonts/barlowbold.woff") format("woff")
}

/* Mobile first */

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  height: 100%;
}


body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  font-family: var(--main-ff);
  font-weight: var(--main-fw);
  font-size: var(--main-fz);
  background-color: var(--global-content-color);
}

img {
  display: block;
  height: auto;
}

::-moz-selection {
  color: var(--global-content-color);
  background-color: var(--secondary-bg-color);
}

::selection {
  color: var(--global-content-color);
  background-color: var(--secondary-bg-color);
}

.article__list
::-moz-selection {
  color: var(--main-bg-color);
  background-color: var(--global-content-color);
}

.article__list
::selection {
  color: var(--main-bg-color);
  background-color: var(--global-content-color);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

.container {
  max-width: 1320px;
  width: 100%;
  margin: 0 auto;
  padding: 0 24px;
}

.global-link {
  display: inline-block;
  min-width: 217px;
  padding: 15px 16px 16px;
  font-size: 18px;
  font-weight: var(--main-fw);
  line-height: 25px;
  text-decoration: none;
  text-align: center;
  color: inherit;
  background-color: var(--secondary-bg-color);
  border-radius: 6px;
}


/* Sitcky footer */

.site-main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.open .site-header__menu-open {
  display: block;
}

.open .site-header__menu {
  background-image: url("../images/hamburmenuclose.svg");
}

/* Site header styles begin */

.site-header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  width: 100%;
  padding-top: 32px;
  padding-bottom: 40px;
  background-color: var(--global-content-color);
}

.site-header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.site-header__menu {
  width: 16px;
  height: 15px;
  padding: 0;
  background-color: transparent;
  background-image: url("../images/hamburmenu.svg");
  background-repeat: no-repeat;
  background-position: center;
  border: none;
}

.site-header__menu-open {
  position: absolute;
  top: 90px;
  left: 0;
  display: none;
  width: 100%;
  height: calc(100vh - 90px);
  background-image: -webkit-gradient(linear, left bottom, left top, from(#fefcf781), color-stop(55.94%, var(--global-content-color)));
  background-image: -o-linear-gradient(bottom, #fefcf781 0%, var(--global-content-color) 55.94%);
  background-image: linear-gradient(0deg, #fefcf781 0%, var(--global-content-color) 55.94%);
}

.navigation__list {
  margin: 0;
  padding-left: 0;
  -webkit-column-gap: 32px;
     -moz-column-gap: 32px;
          column-gap: 32px;
  list-style: none;
  text-align: center;
}

.navigation__item:not(:last-child) {
  margin-bottom: 32px;
}

.navigation__link {
  font-size: 24px;
  line-height: 32px;
  color: var(--secondary-text-color);
  text-decoration: none;
}

/* Site header styles end */

/* Site main styles begin */
/* Hero section styles started */

.hero {
  padding-top: 90px;
  padding-bottom: 120px;
}

.hero__text {
  padding: 100px 24px 99px 24px;
  font-family: var(--main-ff);
  text-align: center;
  background-image: url("../images/index/herobg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  color: var(--global-content-color);
  border-radius: 10px;
}

.hero__title-wrapper {
  max-width: 375px;
  margin: 0 auto;
}

.hero__title {
  margin-top: 0;
  margin-bottom: 24px;
  font-size: 32px;
  font-weight: var(--main-fw);
  line-height: 40px;
}

.hero__desc-wrapper {
  max-width: 500px;
  margin: 0 auto;
}

.hero__desc {
  margin-top: 0;
  margin-bottom: 39px;
  font-family: var(--secondary-ff);  
  font-size: 12px;
  font-weight: var(--global-fw);
  line-height: 25px;
  letter-spacing: 0px;
  opacity: 0.8;  
}

/* Hero section styles finished */
/* Collection section styles started */

.collection {
  position: relative;
  padding: 0 20px 120px;
  text-align: center;
  z-index: 3;
}

.collection__shadow {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 1280px;
  width: 100%;
  height: 72px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fefcf700), to(#fefcf7));
  background-image: -o-linear-gradient(top, #fefcf700 0%, #fefcf7 100%);
  background-image: linear-gradient(180deg, #fefcf700 0%, #fefcf7 100%);
}

.collection__title {
  margin-top: 0;
  margin-bottom: 13px;
  font-size: 32px;
  line-height: 72px;
  color: #83888f;
}

.collection__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
  color: var(--secondary-text-color);
}

.collection__item:not(:last-child) {
  margin-bottom: 48px;
}

.collection__item::before {
  display: block;
  width: 200px;
  height: 151px;
  margin: 0 auto 24px;
  background-image: url("../images/index/gran.png");
  content: "";
}

.collection__item--planalto::before {
  background-image: url("../images/index/planalto.png");
}

.collection__item--piccollo::before {
  background-image: url("../images/index/piccollo.png");
}

.collection__item--danche::before {
  background-image: url("../images/index/danche.png");
}

.collection__subtitle {
  margin-top: 0;
  margin-bottom: 16px;
  font-size: 24px;
  line-height: 32px;
}

.collection__desc {
  margin: 0;
  font-family: var(--secondary-ff);
  font-size: 15px;
  font-weight: var(--global-fw);
  line-height: 25px;
}

/* Collection section styles finished */
/* Site article begin */
.article {
  position: relative;
  max-width: 768px;
  width: calc(100% - 48px);
  margin: 0 auto 959px;
  padding: 64px 24px 594px;
  background-color: var(--main-bg-color);
  background-image: url("../images/index/articlebg.svg");
  background-repeat: no-repeat;
  background-size: auto 70%;
  background-position-y: 100%;
  border-radius: 10px;
  text-align: center;
  color: var(--global-content-color);
}

.article__inner {
  max-width: 595px;
  margin: 0 auto;
}

.article__title {
  margin-top: 0;
  margin-bottom: 24px;
  font-size: 21px;
  line-height: 28px;
}

.article__desc {
  margin: 0;
  font-family: var(--secondary-ff);
  font-size: 12px;
  font-weight: var(--global-fw);
  line-height: 19px;
  opacity: 0.8;
}

.article__list {
  position: absolute;
  top: 305px;
  left: calc(50%);
  width: 100%;
  margin: 0;
  padding-left: 0;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  list-style: none;
}

.article__item {
  max-width: 595px;
  width: calc(100% - 48px);
  margin: 0 auto;
  padding: 72px 34px 51px;
  background-color: var(--secondary-bg-color);
  border-radius: 8px;
}

.article__item::before {
  display: block;
  width: 72px;
  height: 72px;
  margin: 0 auto 56px;
  background-image: url("../images/index/markcoffee.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  content: "";
}

.article__item--gift::before {
  background-image: url("../images/index/markgift.svg");
  background-size: 100%;
}

.article__item--track::before {
  height: 51px;
  margin-bottom: 74px;
  background-image: url("../images/index/marktrack.svg");
}

.article__item:not(:last-child) {
  margin-bottom: 24px;
}

.article__item-wrapper {
  max-width: 388px;
  margin: 0 auto;
}

.article__item-wrapper--size {
  max-width: 371px;
}

.article__item-title {
  margin-top: 0;
  margin-bottom: 24px;
  font-size: var(--main-fz);
  line-height: var(--main-lh);
  color: #FEFCF7;
}

.articel__item-title--fz {
  font-size: 21px;
}

.article__item-desc {
  margin: 0;
  font-family: var(--secondary-ff);
  font-size: 15px;
  font-weight: var(--global-fw);
  line-height: 25px;
}
/* Site article end */
/* Section plan styles started */

.plan {
  margin-bottom: 120px;
  text-align: center;
  color: var(--secondary-text-color);
}

.plan__title {
  margin-top: 0;
  margin-bottom: 80px;
  font-size: var(--main-fz);
  font-weight: var(--main-fw);
  line-height: var(--main-lh);
  color: #83888f;
}

.plan__list {
  margin: 0 0 80px;
  padding-left: 0;
  list-style: none;
}

.plan__item:not(:last-child) {
  margin-bottom: 56px;
}

.plan__item::before {
  display: block;
  margin-bottom: 24px;
  font-size: 72px;
  font-weight: var(--main-fw);
  line-height: 72px;
  color: var(--mixin);
  content: "01";
}

.plan__item--middle::before {
  content: "02";
}

.plan__item--finally::before {
  content: "03";
}

.plan__subtitle {
  margin-top: 0;
  margin-bottom: 24px;
  font-size: 28px;
  font-weight: var(--main-fw);
  line-height: var(--main-lh);
}

.plan__subtitle--size {
  font-size: 24px;    
}

.plan__desc {
  margin: 0;
  font-family: var(--secondary-ff);
  font-size: 15px;
  font-weight: var(--global-fw);
  line-height: 25px;
}

.plan__link {
  color: var(--global-content-color);
}
/* Section plan styles finished */
/* Site main styles end */

/* Site footer styles begin */

.site-footer__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 72px;
  padding: 54px 0;
  background-color: var(--main-bg-color);
  text-align: center;
}

.site-footer
.navigation__list {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 48px 0 49px;
  padding-left: 0;
  list-style: none;
}

.site-footer 
.navigation__item {
  font-size: 16px;
  line-height: 15px;
}

.site-footer
.navigation__item:not(:last-child) {
  margin-bottom: 24px;
}

.site-footer 
.navigation__link {
  font-family: var(--secondary-ff);
  font-size: 12px;
  line-height: 15px;
  color: #83888f;
}

.site-footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  padding-left: 0;
  -webkit-column-gap: 24px;
     -moz-column-gap: 24px;
          column-gap: 24px;
  list-style: none;
  color: var(--global-content-color);
}

.site-footer__item {
  line-height: 0;
}

.site-footer__link {
  color: inherit;
  line-height: none;
  font-size: 0;
}

/* Site footer styles end */


/* Retina background images */

@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                -webkit-min-device-pixel-ratio: 2),
only screen and (                -o-min-device-pixel-ratio: 2/1),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) { 
  
  /* Retina-specific stuff here */
  
  .hero__text {
    background-image: url("../images/index/herobg@2x.png");
  }
  
  .collection__item::before {
    background-image: url("../images/index/gran@2x.png");
    background-size: 100%;
  }
  
  .collection__item--planalto::before {
    background-image: url("../images/index/planalto@2x.png");
  }
  
  .collection__item--piccollo::before {
    background-image: url("../images/index/piccollo@2x.png");
  }
  
  .collection__item--danche::before {
    background-image: url("../images/index/danche@2x.png");
  }
} 

@media only screen and (min-width: 451px) {
  .article {
    margin-bottom: 800px;
  }
}

@media only screen and (min-width: 500px) {
  .container {
    padding: 0 20px;
  }
  
  /* Site header styles begin */
  .logo__img {
    width: 236px;
    height: 26px;
  }
  /* Site header styles end */
  
  /* Site main styles begin */
  /* Hero section styles started */
  .hero__text {
    background-image: url("../images/index/herobgtablet.png");
  }
  
  .hero__title {
    font-size: 40px;
  }
  
  .hero__desc {
    font-size: 15px;
  }
  /* Hero section styles finished */
  /* Collection section styles started */
  .collection__title {
    font-size: 40px;
  }
  
  .collection__inner {
    max-width: 410px;
    margin: 0 auto;
  }
  /* Collection section styles finished */
  /* Site article styles begin */
  .article__title {
    font-size: 28px;
  }
  
  .article__desc {
    font-size: 15px;
    line-height: 25px;
  }
  
  .article__item-title {
    font-size: 24px;
  }
  /* Site article styles end */
  /* Site main styles end */
  
  /* Site footer styles begin */
  
  .site-footer
  .logo__img {
    width: 218px;
  }
  
  /* Site footer styles end */
  /* Retina background images */
  @media
  only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (     -o-min-device-pixel-ratio: 2/1),
  only screen and (        min-device-pixel-ratio: 2),
  only screen and (                -webkit-min-device-pixel-ratio: 2),
  only screen and (                -o-min-device-pixel-ratio: 2/1),
  only screen and (                min-resolution: 192dpi),
  only screen and (                min-resolution: 2dppx) { 
    
    /* Retina-specific stuff here */
    
    .hero__text {
      background-image: url("../images/index/herobgtablet@2x.png");
    }
  } 
}

/* Media quary Tablet */

@media only screen and (min-width: 768px) {
  /* Site header styles begin */
  .site-header {
    padding-top: 40px;
    padding-bottom: 53px;
  }
  
  .site-header__menu {
    display: none;
  }
  
  .site-header__menu-open {
    position: static;
    display: block;
    width: auto;
    height: auto;
  }
  
  .navigation__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 0;
  }
  
  .navigation__item:not(:last-child) {
    margin-bottom: 0;
  }
  
  .navigation__link {
    font-family: var(--secondary-ff);
    font-size: 12px;
    font-weight: 700;
    line-height: 15px;
    letter-spacing: 0.9230769276618958px;
    color: #83888f;
  }
  /* Site header styles end */
  /* Site main styles begin */
  /* Hero section styles started */
  .hero {
    padding-top: 121px;
    padding-bottom: 203px;
  }
  
  .hero__text {
    padding: 104px 54px 104px;
    text-align: left;
    background-image: url("../images/index/herobgtablet.png");
  }
  
  .hero__title-wrapper {
    max-width: 329px;
    margin: 0;
  }
  
  .hero__title {
    font-size: 48px;
    line-height: 48px;
  }
  
  .hero__desc-wrapper {
    max-width: 398px;
    margin: 0;
  }
  
  .hero__desc {
    margin-bottom: 40px;
    font-size: 15px;
  }
  /* Hero section styles finished */
  /* Collection section styles started */
  .collection {
    padding-bottom: 144px;
  }
  
  .collection__shadow {
    top: -78px;
    z-index: -1;
    height: 118px;
  }
  
  .collection__title {
    position: absolute;
    top: -32px;
    left: calc(50%);
    z-index: -2;
    width: 100%;
    margin: 0;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    font-size: 96px;
    line-height: 72px;
  }
  
  .collection__list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: left;
  }
  
  .collection__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  .collection__item::before {
    width: 255px;
    height: 193px;
    margin: 0;
    background-image: url("../images/index/grantablet.png");
  }
  
  .collection__item--planalto::before {
    width: 235px;
    height: 178px;
    margin: 15px 0 0 21px;
    background-image: url("../images/index/planaltotablet.png");
  }
  
  .collection__item--piccollo::before {
    width: 256px;
    height: 193px;
    background-image: url("../images/index/piccollotablet.png");
  }
  
  .collection__item--danche::before {
    width: 256px;
    height: 193px;
    background-image: url("../images/index/danchetablet.png");
  }
  
  .collection__subtitle {
    margin-bottom: 24px;
  }
  /* Collection section styles finished */
  /* Site article styles beign */
  .article {
    margin-bottom: 530px;
    padding: 56px 58px 368px 57px;
  }
  
  .article__title {
    font-size: 32px;
    line-height: 48px;
  }
  
  .article__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 41px 48px 41px 70px;
    text-align: left;
  }
  
  .article__item::before {
    width: 56px;
    height: 56px;
    margin: 0;
  }
  
  .article__item--track::before {
    height: 39px;
  }
  .article__item-wrapper {
    margin: 0 0 0 56px;
  }
  /* Site article styles end */
  /* Section plan styles started */
  
  .plan {
    margin-bottom: 144px;
    text-align: left;
  }
  
  .plan__title {
    margin-bottom: 0;
  }
  
  .plan__title::after {
    display: block;
    width: 497px;
    height: 31px;
    margin-top: 40px;
    margin-bottom: 48px;
    background-image: url("../images/index/extraimg.svg");
    background-repeat: no-repeat;
    content: "";
  }
  
  .plan__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-column-gap: 36px;
       -moz-column-gap: 36px;
            column-gap: 36px;
  }
  
  .plan__subtitle {
    font-size: 28px;
    margin-bottom: 38px;
  }
  /* Section plan styles finished */
  /* Site main styles end */
  /* SIte footer styles begin */
  
  .site-footer__inner {
    margin-bottom: 72px;
  }

  .site-footer 
  .navigation__item:not(:last-child) {
    margin-bottom: 0;
  }
  
  .site-footer 
  .navigation__list {
    margin: 32px 0 65px;
  }

  .site-footer 
  .site-footer__link {
    font-weight: 700;
    letter-spacing: 0.9230769276618958px;
  }
  /* Site footer styles end */
  /* Retina background images */
  
  @media
  only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (     -o-min-device-pixel-ratio: 2/1),
  only screen and (        min-device-pixel-ratio: 2),
  only screen and (                -webkit-min-device-pixel-ratio: 2),
  only screen and (                -o-min-device-pixel-ratio: 2/1),
  only screen and (                min-resolution: 192dpi),
  only screen and (                min-resolution: 2dppx) {
    
    /* Retina-specific stuff here */
    
    .collection__item::before {
      background-image: url("../images/index/grantablet@2x.png");
      background-size: 100%;
    }
    .collection__item--planalto::before {
      background-image: url("../images/index/planaltotablet@2x.png");
    }
    .collection__item--piccollo::before {
      background-image: url("../images/index/piccollotablet@2x.png");
    }
    .collection__item--danche::before {
      background-image: url("../images/index/danchetablet@2x.png");
    }
  }
}
@media only screen and (min-width: 1050px) {
  /* Site main styles begin */
  /* Section hero styles started */
  .hero__text {
    background-image: url("../images/index/herobgdesktop.png");
  }
  
  .hero__title {
    font-size: 55px;
  }
  /* Section hero styles finished */
  /* Site main styles end */
  /* Retina background images */
  
  @media
  only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (     -o-min-device-pixel-ratio: 2/1),
  only screen and (        min-device-pixel-ratio: 2),
  only screen and (                -webkit-min-device-pixel-ratio: 2),
  only screen and (                -o-min-device-pixel-ratio: 2/1),
  only screen and (                min-resolution: 192dpi),
  only screen and (                min-resolution: 2dppx) {
    
    /* Retina-specific stuff here */
    
    .hero__text {
      background-image: url("../images/index/herobgdesktop@2x.png");
    }
  }
}


/* Media quary Desktop */

@media only screen and (min-width: 1280px) {
  .logo {
    -webkit-transition: opacity 0.4s ease;
    -o-transition: opacity 0.4s ease;
    transition: opacity 0.4s ease;
  }

  .logo:hover {
    opacity: 0.8;
  }
  
  .logo:active {
    opacity: 0.6;
  }

  /* Site header styles begin */
  .site-header {
    padding-top: 43px;
  }
  
  .navigation__link {
    -webkit-transition: color 0.4s ease, opacity 0.4s ease;
    -o-transition: color 0.4s ease, opacity 0.4s ease;
    transition: color 0.4s ease, opacity 0.4s ease;
  }
  
  .navigation__link:hover {
    color: var(--secondary-text-color);
  }
  
  .navigation__link:active {
    opacity: 0.8;
  }
  /* Site header styles end */
  
  /* Site main styles begin */
  /* Section hero styles started */
  .hero {
    padding-top: 124px;
    padding-bottom: 136px;
  }
  
  .hero__title-wrapper {
    max-width: 493px;
  }
  
  .hero__title {
    margin-bottom: 32px;
    font-size: 72px;
    line-height: 72px;
  }
  
  .hero__desc-wrapper {
    max-width: 444px;
  }
  
  .hero__desc {
    margin-bottom: 56px;
    font-size: 16px;
    font-weight: var(--global-fw);
    line-height: 26px;
  }
  
  .global-link {
    -webkit-transition: background-color 0.4s ease, opacity 0.4s ease;
    -o-transition: background-color 0.4s ease, opacity 0.4s ease;
    transition: background-color 0.4s ease, opacity 0.4s ease;
  }
  
  .global-link:hover {
    background-color: #66d2cf;
  }
  
  .global-link:active {
    opacity: 0.8;
  }
  /* Section hero styles finished */
  
  /* Section collection styles started */
  .collection {
    padding-bottom: 200px;
  }
  
  .collection__title {
    font-size: 150px;
    top: -40px;
  }
  
  .collection__shadow {
    top: -66px;
    left: calc(50%);
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  
  .collection__list {
    -webkit-column-gap: 30px;
       -moz-column-gap: 30px;
            column-gap: 30px;
    text-align: center;
  }
  
  .collection__item {
    display: block;
  }
  
  .collection__item:not(:last-child) {
    margin-bottom: 0;
  }
  
  .collection__item::before {
    margin-bottom: 72px;
  }
  
  .collection__item--planalto::before {
    width: 256px;
    height: 193px;
    margin: 0 0 72px;
    background-image: url("../images/index/planaltodesktop.png");
  }
  
  .collection__inner {
    max-width: 255px;
  }
  
  .collection__desc {
    font-size: 16px;
    line-height: 26px;
  }
  /* Section collection styles finished */
  /* Site article styles begin */
  
  .site-article {
    max-width: 1280px;
    padding: 100px 85px 210px;
    margin: 0 auto 350px;
    background-size: 110% 100%;
    background-position-x: -90px;
    border-radius: 10px;
  }
  
  .article__title {
    font-size: 40px;
    line-height: 48px;
  }
  
  .article__desc {
    margin-bottom: 86px;
    font-size: 16px;
    line-height: 26px;
  }
  
  .article__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    max-width: 1110px;
  }
  
  .article__item {
    display: block;
    max-width: 350px;
    margin: 0;
    padding: 72px 48px 48px;
    text-align: center;
  }
  
  .article__item:not(:last-child) {
    margin: 0;
  }
  
  .article__item::before {
    width: 72px;
    height: 72px;
    margin: 0 auto 56px;
  }
  
  .article__item--track::before {
    height: 50px;
    margin-bottom: 67px;
  }
  
  .article__item-wrapper {
    margin: 0;
  }
  
  .article__item-desc {
    font-size: 16px;
    line-height: 26px;
  }
  /* Site article styles end */
  /* Section plan styles started */
  
  .plan {
    margin-bottom: 200px;
  }
  
  .plan__title::after {
    width: 791px;
    margin-top: 80px;
    margin-bottom: 67px;
    background-image: url("../images/index/extraimgdesktop.svg");
  }
  
  .plan__list {
    -webkit-column-gap: 95px;
       -moz-column-gap: 95px;
            column-gap: 95px;
    margin-bottom: 64px;
  }
  
  .plan__subtitle-wrapper {
    max-width: 197px;
  }
  
  .plan__subtitle {
    margin-bottom: 43px;
    font-size: 32px;
    line-height: 36px;
  }
  
  .plan__desc {
    font-size: 16px;
    line-height: 26px;
  }
  /* Section plan styles finished */
  /* Site main styles end */

  /* Site footer styles begin */
  
  .site-footer__inner {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-bottom: 88px;
    padding: 47px 85px;
  }

  .site-footer 
  .navigation {
    margin-left: 103px;
  }

  .site-footer
  .navigation__list {
    margin: 0;
  }

  .site-footer
  .navigation__link:hover {
    color: var(--global-content-color);
  }

  .site-footer__list {
    margin-left: auto;
  }

  .site-footer__link {
    -webkit-transition: color 0.4s ease;
    -o-transition: color 0.4s ease;
    transition: color 0.4s ease;
  }

  .site-footer__link:hover {
    color: var(--mixin);
  }

  /* Site footer styles end */

  /* Retina background images */
  
  @media
  only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (     -o-min-device-pixel-ratio: 2/1),
  only screen and (        min-device-pixel-ratio: 2),
  only screen and (                -webkit-min-device-pixel-ratio: 2),
  only screen and (                -o-min-device-pixel-ratio: 2/1),
  only screen and (                min-resolution: 192dpi),
  only screen and (                min-resolution: 2dppx) {
    
    /* Retina-specific stuff here */
    
    .collection__item--planalto::before {
      background-image: url("../images/index/planaltodesktop@2x.png");
    }
  }
}